block content

  main
    section#registrationform.position-absolute.top-50.start-50.translate-middle
      include ./form.pug
      p.text-center &copy; Copyright XLS - 2022
  footer


script(src='/js/bootstrap.bundle.min.js')