extends layout

block content
  header

  main
    section#thankyou.position-absolute.top-50.start-50.translate-middle
      h3 Thank you for your registration! 
      a.w-100.btn.btn-md.btn-light.mt-3(href="/") Sign in
